@model ChooseCourseViewModel
@{
    ViewData["Title"] = "Choose a Course";
}

<h1 class="page-title">Create a Study Group</h1>
<h2>Pick a Class</h2>
<div class="card-columns">
@{
    foreach (var c in Model.Courses){
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@c.Name.ToTitleCase()</h5>
                <a href="@Url.Action("Create", new {Id = c.Id})" class="btn btn-primary">Select</a>
            </div> 
        </div>
    }
}
</div>
