
<br>
<h1> Create a Study Group </h1>
<br>
<h2> Pick a Class </h2>
 <!-- Need to have class info populated by account asp thing -->
 <!-- a for loop for number of classes, dynamically create a card for each class -->
<!-- card deck
    For account.numclasses or something
        Card
            title = account.class1.name or something
 -->

@{
    foreach (c in Model.Courses){
    <p>c.Id</p>
    <div class="card text-dark border-warning">
      <div class="card-body">
        <h4> CLASS idk how to wrap a variable </h4>
        <a href="/StudyGroup/create/45" class="btn btn-primary">Select</a>    
      </div> 
    </div>  
    }
}

<!-- 
<div class="card-deck">
  <div class="card text-dark border-warning">
      <div class="card-body">
         <h4> account.class or whatever </h4>
         <a href="/StudyGroup/create/45" class="btn btn-primary">Select</a>    
      </div> 
    </div>
  <div class="card text-dark border-warning">
      <div class="card-body">
         <h4> Class 2 </h4>
         <a href="/StudyGroup/create/7" class="btn btn-primary">Select</a>
      </div>
  </div>

  <div class="card text-dark border-warning">
 
      <div class="card-body">
          <h4> Class 3 </h4>
          <a href="/StudyGroup/create/7" class="btn btn-primary">Select</a>
      </div>
  </div>

  <div class="card text-dark border-warning">

      <div class="card-body">
         <h4> Class 4 </h4>
          <a href="/StudyGroup/create/7" class="btn btn-primary">Select</a>
      </div>
  </div>
</div> -->
<!-- action for these need to go to the form below -->
