@model CreateCourseViewModel
@{
    ViewData["Title"] = "Create a Study Group";
}

<h1 class="page-title">Create a Study Group</h1>
<div class="row">
    <div class="col-sm-6">
        @if (!ViewData.ModelState.IsValid) {
            <div class="alert alert-danger" role="alert">
                Please fill out the required fields.
            </div>
        }
        <form asp-antiforgery="true" asp-controller="StudyGroup" asp-action="Create">
            <div class="form-group"> <br>
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" placeholder="ex: Midterm Study">
            </div>
            <div class="form-group">   
                <label asp-for="Location"></label>
                <input asp-for="Location" class="form-control" placeholder="ex: Wenniger 238">
            </div> 
            <div class="form-group">   
                <label>Start Date</label>
                <div class="input-group">
                    <input asp-for="DateMonth" class="form-control" placeholder="Month">
                    <div class="input-group-append">
                        <span class="input-group-text">/</span>
                    </div>
                    <input asp-for="DateDay" class="form-control" placeholder="Day">
                    <div class="input-group-append">
                        <span class="input-group-text">/</span>
                    </div>
                    <input asp-for="DateYear" class="form-control" placeholder="Year">
                </div>
            </div>
            <div class="form-group">
                <label>Start Time</label>
                <div class="input-group">
                    <input @(Model.StartHour == 0 ? "value" : string.Empty) asp-for="StartHour" class="form-control" placeholder="Hour">
                    <div class="input-group-append">
                        <span class="input-group-text">:</span>
                    </div>
                    <input @(Model.StartMin == 0 ? "value" : string.Empty) asp-for="StartMin" class="form-control" placeholder="Minute">
                    <div style="width:4em">
                        <select asp-for="StartTimePm" class="form-control">
                            <option value="false">AM</option>
                            <option value="true">PM</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Duration"></label>
                <input @(Model.Duration == 0 ? "value" : string.Empty) asp-for="Duration" class="form-control"  placeholder="Hours">
            </div>
            <div class="form-group">
                <label asp-for="Capacity"></label>
                <input @(Model.Capacity == 0 ? "value" : string.Empty) asp-for="Capacity" class="form-control" placeholder="ex: 20">
            </div>
            <div class="form-group">
                <label asp-for="Objectives"></label>
                <input asp-for="Objectives" class="form-control" placeholder="ex: Do example problems.">
            </div>
            <input type="submit" value="Confirm" class="btn btn-primary">
        </form>
    </div>
</div>
