<!-- IDK WHERE TO PUT THIS KEY 1002~4qG4yPJXjgt3kTYp4kPacsTpA3wixyjhBytCjaKjtSRyFh9GYT8r82NHDyDe22xz -->

<br>
<h1> Create a Study Group </h1>
<br>
<h3> You have chosen: [course id]</h3>
<br> <br>
<h2>Please enter remaining info </h2> <br>

<form asp-antiforgery="true" asp-controller="Account" asp-action="register">  
    <!-- Not sure if I need to use the account controller or just need to send it to view page -->
    <div class="form-group"> <br>
        <label for="Title"></label> Title: <input type="text" placeholder="ex: Midterm Study"> <br><br>
        <label for="Location"></label> Location: <input type="text"  placeholder="ex: Wenniger 238"> <br><br>
        <label for="Date"></label> Date: <input type="datetime" placeholder="month"> </input> / <input type="text" placeholder="day"> </input> <br><br>
        <label for="TStart"></label> Start Time: <input type="datetime" placeholder="hour"> : <input type="text" name="ti_min" placeholder="minute"> <br><br>
        <label for="Duration">Duration: </label><input type="text" placeholder="in hours"> <br><br>
        <label for="Capacity"></label> Capacity: <input type="text" placeholder="ex: 20"> <br><br>
        <label for="Objectives"></label> Objectives: <input type="text" placeholder="ex: do example problems"> <br><br>
        <input type="submit" value="Confirm" class="btn btn-primary">
        <!-- view group is at http://localhost:5000/StudyGroup/view -->
    </div>
</form>

    <!-- The form should work once I have class info, and action location -->
    <!-- I just need to add "asp-" before the for in label to input class info -->