<h1> Pick a Class </h1>
 <!-- This will look weird until the first form is done -->
<div class="card-deck">
  <div class="card text-warning bg-dark" style="width: 18rem;">
    <div class="card-block">
      <h4 class="card-title">Class 1</h4>
      <a href="#" class="btn btn-primary">Submit</a>
    </div>
  </div>
  <div class="card text-warning bg-dark" style="width: 18rem;">
    <div class="card-block">
      <h4 class="card-title"> Class 2</h4>
      <a href="#" class="btn btn-primary">Submit</a>
    </div>
  </div>
  <div class="card text-warning bg-dark" style="width: 18rem;">
    <div class="card-block">
      <h4 class="card-title">Class 3</h4>
      <a href="#" class="btn btn-primary">Submit</a>
    </div>
  </div>
  <div class="card text-warning bg-dark" style="width: 18rem;">
      <div class="card-block">
          <h4 class="card-title">Class 4</h4>
          <a href="#" class="btn btn-primary">Submit</a>
      </div>
  </div>
</div>
<!-- they should click a button and the class they chose will be sent in query maybe
#next one: -->

 <h2> You have selected _________  </h2>
<h2>Please enter remaining info </h2> <br>
    <form asp-antiforgery="true" asp-controller="Account" asp-action="Login">
        <div class="form-group">
           <label asp-for="Token"></label><a href="#" class="mx-1 badge badge-pill badge-info" data-toggle="modal" data-target="#accessTokenInfo">@Html.Raw("?")</a>
           <input asp-for="Token" class="form-control"/>
            <label asp-for="Title"></label> <input type="text"> <br>
            <label asp-for="Location"></label> <input type="text" > <br>
            <label asp-for="Date"></label> <input type="datetime" > </input> / <input type="text"> </input> /<input type="text"> </input> <br>
            <label asp-for="TStart"></label> <input type="datetime"> / <input type="text" name="ti_min"> <br>
            <label asp-for="Duration"></label><input type="text"> <br>
            <label asp-for="Capacity"></label><input type="text"> <br>
            <label asp-for="Objectives"></label> <input type="text"> <br>
        </div>
    <input type="submit" value="GroupInfo" class="btn btn-primary">
    </form>