@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">StudyUp</h1>
        <p class="lead">A place where students can find and create study groups for their Canvas courses with ease.</p>
        <p class="lead"><a class="btn btn-primary btn-lg" href="@Url.Action("Find", "StudyGroup")" role="button">Get started »</a></p>
    </div>
</div>
