@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
        <div class="container">
          <h1 class="display-3">StudyUp</h1>
          <h4>A place where students can find and create study groups with ease.</h4>
          <p><a class="btn btn-primary btn-lg" href="@Url.Action("Find", "StudyGroup")" role="button">Get started »</a></p>
        </div>
      </div>
