@model CanvasUser
@{
    ViewData["Title"] = "Login";
}

<h1 class="page-title">@ViewData["Title"]</h1>

<div class="row justify-content-left">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
            @{
                <form asp-antiforgery="true" asp-controller="Account" asp-action="Login">
                    <div class="form-group">
                        <label asp-for="Token"></label><a href="#" class="mx-1 badge badge-pill badge-info" data-toggle="modal" data-target="#accessTokenInfo">@Html.Raw("?")</a>
                        <input asp-for="Token" class="form-control"/>
                    </div>
                    <input type="submit" value="Login" class="btn btn-primary">
                </form>
            }
            @if (!ViewData.ModelState.IsValid) {
                <div class="alert alert-danger mt-3" role="alert">
                    @ViewData.ModelState.Values.SelectMany(v => v.Errors).Select(e => e.ErrorMessage).Aggregate((c, i) => c + ", " + i)
                </div>
            }
            </div>
        </div>
    </div>
    <div class="modal fade" id="accessTokenInfo" tabindex="-1" role="dialog" aria-labelledby="accessTokenInfo" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="accessTokenInfoLable">Access Token?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Because this website is still in development to login you have to <a target="_blank" rel="noopener noreferrer" href="https://oregonstate.instructure.com/profile/settings">generate your own access token</a>.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
</div>